<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

    <title>Dashboard</title>


</head>
<body>


<div class="container">

    <div class="logout">
        <h1><%= user.username %></h1>
        <button>Logout</button>
    </div>

    <div class="calendar">
    <h2>Calendar</h2>

     <ul>
        <li>Appointment 1</li>
        <li>Appointment 2</li>
    </ul>

        <div class="medications">
            <h2>Medications</h2>
            <ul class="medsList"></ul>
        </div>
    </div>

    <div class="petsList">
        <h2>Loop all Pets</h2>
        <img src="#" alt="">
        
        <div class="petMugShots">

        <% pets.forEach( pet => { %>
          <img class="petImg" src="<%= pet.image_url %>" alt="<%= pet.name %>" data-id="<%= pet.id %>"> 
         <h3 class="petNameLabel"><%= pet.name %></h3>
         <button class="btnShowEdit" data-id="<%= pet.id %>">edit</button> 
         <button class="btnShowNewAppt" data-id="<%= pet.id %>">New Appt</button> 
         <br><br>
         <% }) %> 
         

        </div>

        <img src="#" alt="">
        <button class="btnAddNewPet">Add New Pet</button>
    </div>

    

        <div class="newPet">
        <form class="newPetForm" action ="">
            
          <h2>New Pet</h2>
            <input type="hidden" class="pet-new-userId">
            <label for="">Species</label>
            <input type="text" class="pet-new-species">
            <label for="">DOB</label>
            <input type="date" class="pet-new-dob">
            <label for="">name</label>
            <input type="text" class="pet-new-name">
            <label for="">image_url</label>
            <input type="text" class="pet-new-image_url">
            <button class="btnNewPet">create Pet</button>
        </form>
    </div>

      <div class="editPet">
        <form class="editPetForm" action ="">
          <h2>Edit Pet</h2>
            
            <input class="userId" type="hidden" value="">
            <input class="petId" type="hidden" value="">
            <label for="">Species</label>
            <input type="text" class="pet-edit-species">
            <label for="">DOB</label>
            <input type="date" class="pet-edit-dob">
            <label for="">name</label>
            <input type="text" class="pet-edit-name">
            <label for="">image_url</label>
            <input type="text" class="pet-edit-image_url">
            <button class="btnEditPet">edit Pet</button>
        </form>
    </div>


<div class="newAppointmet">
        <h2>New Appointment</h2>
        <form action ="" class="newApptForm">
          
            <input type="hidden" class="petID">
            <input type="hidden" class="apptUserId" value="<%= user.id %>">

            <label for="">ApptType</label>
            <input type="text" class="appType">

            <label for="">location</label>
            <input type="text" class="location">

            <label for="">apptDate</label>
            <input type="date" class="apptDate">

            <label for="">comments</label>
            <input type="text" class="comments">

            <button class="btnNewAppt">add New Appt</button>
        </form>
    </div>
 


    <div class="listAllAppointments">  
        <h2>All Appointments</h2>  
            
            <% pets.forEach( pet => { %>
         <img src="<%= pet.image_url %>" alt="<%= pet.name %>">
         
         <% }) %> 
    </div>


</div>

    
<script>
let allEditBtns = document.querySelectorAll('.btnShowEdit')

let btnShowEditPet = document.querySelector('.btnShowEdit')
let editFormSpecies = document.querySelector('.pet-edit-species')
let editFormDob = document.querySelector('.pet-edit-dob')
let editFormName = document.querySelector('.pet-edit-name')
let editFormImageUrl = document.querySelector('.pet-edit-image_url')
let editFormPetId = document.querySelector('.petId')
let newPetFrm = document.querySelector('.newPetForm');
var editFrm = document.querySelector('.editPetForm');
let btnAddNewPet = document.querySelector('.btnAddNewPet');

let editPetFrm = document.querySelector('.editPetForm')

// DOM manipulation
newPetFrm.style.display = "none"
editFrm.style.display = "none"



btnAddNewPet.addEventListener('click', (e) => {
    newPetFrm.style.display = "block"
})



//  console.log(allEditBtns)

allEditBtns.forEach( (button) => {

    button.addEventListener('click', (e) => {
    e.preventDefault()    
    editFrm.style.display = "block"
    // console.log(Number(e.target.dataset.id))
    let petId = (Number(e.target.dataset.id))
    console.log(petId)
    let url = `http://localhost:8080/api/pets/${petId}`
    console.log(url)
    axios.get(url).then( resp => {
        console.log(resp.data)
        editFormSpecies.value = resp.data[0].species
        editFormDob.value = resp.data[0].dob.slice(0,10)
        editFormName.value = resp.data[0].name
        editFormImageUrl.value = resp.data[0].image_url
        editFormPetId.value = resp.data[0].id
    })
        
 })


})



 let btnEditPet = document.querySelector('.btnEditPet')

btnEditPet.addEventListener('click', (e) => {
        e.preventDefault() 
      
      var params = {
        userId: <%= user.id %>,
        species: editFormSpecies.value,
        dob: editFormDob.value,
        name: editFormName.value,
        image_url: editFormImageUrl.value,
        id: editFormPetId.value 
    }

    console.log(params)

    const url = 'http://localhost:8080/api/pets/edit'
    
    axios.patch(url, params).then(res => {
        console.log('bug')
    })

    
     editFrm.reset();
    
        
})



const btnNewPet = document.querySelector('.btnNewPet')

btnNewPet.addEventListener('click', e => {
    e.preventDefault()

    var params = {
        userId: <%= user.id %>,
        species: document.querySelector('.pet-new-species').value,
        dob: document.querySelector('.pet-new-dob').value,
        name: document.querySelector('.pet-new-name').value,
        image_url: document.querySelector('.pet-new-image_url').value
    }

    const url = 'http://localhost:8080/api/pets/new'
    
    axios.post(url, params).then(res => {
        console.log('bug')
    })

     newPetFrm.reset();

})

const petImg = document.querySelectorAll('.petImg')
const medsList = document.querySelector('.medsList')

petImg.forEach( petImage => {

petImage.addEventListener('click', e => {
    
    let petImgId = e.target.dataset.id
    const url = `/api/meds/${petImgId}`
    axios.get(url).then(res => {
    console.log(res.data.length)

    if (res.data.length == 0) {
        medsList.textContent = "No medications"  
    } else {
        medsList.textContent = ""
        res.data.forEach(med => {
            let li = document.createElement('li')
            li.textContent = med.comments
            medsList.appendChild(li)
        })
    }

    })
})

})

    
</script>

 <script src="/client2.js"></script>
</body>
</html>
