<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

    <title>Dashboard</title>


</head>
<body>


<div class="container">

    <div class="logout">
        <h1><%= user.username %></h1>
        <button>Logout</button>
    </div>

    <div class="calendar">
    <h2>Calendar</h2>

     <ul>
        <li>Appointment 1</li>
        <li>Appointment 2</li>
    </ul>

        <div class="medications">
            <h2>Medications</h2>
            <ul>
                <li>Medication 1</li>
                <li>Medication 2</li>
            </ul>
        </div>
    </div>

    <div class="petsList">
        <h2>Loop all Pets</h2>
        <img src="#" alt="">
        
        <div class="petMugShots">

        <% pets.forEach( pet => { %>
         <img src="<%= pet.image_url %>" alt="<%= pet.name %>">
         <button class="btnShowEdit" data-id="<%= pet.id %>">edit</button> 
         <% }) %> 

        </div>

        <img src="#" alt="">
        <button class="addPet">Add a Pet</button>
    </div>

    

        <div class="newPet">
          <h2>New Pet</h2>
        <form action ="">
            <label for="">UserID</label>
            <input type="text" class="userId">
            <label for="">Species</label>
            <input type="text" class="species">
            <label for="">DOB</label>
            <input type="date" class="dob">
            <label for="">name</label>
            <input type="text" class="name">
            <label for="">image_url</label>
            <input type="text" class="image_url">
            <button class="btnNewPet">add New Pet</button>
        </form>
    </div>

      <div class="editPet">
          <h2>Edit Pet</h2>
        <form action ="">
            
            <input class="userId" type="hidden" value="">
            <input class="petId" type="hidden" value="">
            <label for="">Species</label>
            <input type="text" class="pet-edit-species">
            <label for="">DOB</label>
            <input type="date" class="pet-edit-dob">
            <label for="">name</label>
            <input type="text" class="pet-edit-name">
            <label for="">image_url</label>
            <input type="text" class="pet-edit-image_url">
            <button class="btnEditPet">edit Pet</button>
        </form>
    </div>



    <div class="newAppointmet">
        <h2>New Appointment</h2>
        <form action ="">
            <label for="">PetID</label>
            <input type="text" class="petId">

            <label for="">ApptType</label>
            <input type="text" class="appType">

            <label for="">location</label>
            <input type="text" class="location">

            <label for="">apptDate</label>
            <input type="date" class="apptDate">

            <label for="">comments</label>
            <input type="text" class="comments">

            <button class="btnNewAppt">add New Appt</button>
        </form>
    </div>


    <div class="listAllAppointments">  
        <h2>All Appointments</h2>  
            
            <% pets.forEach( pet => { %>
         <img src="<%= pet.image_url %>" alt="<%= pet.name %>">
         
         <% }) %> 
    </div>


</div>

    
<script>

let btnShowEditPet = document.querySelector('.btnShowEdit')
let editFormSpecies = document.querySelector('.pet-edit-species')
let editFormDob = document.querySelector('.pet-edit-dob')
let editFormName = document.querySelector('.pet-edit-name')
let editFormImageUrl = document.querySelector('.pet-edit-image_url')
let editFormPetId = document.querySelector('.petId')


btnShowEditPet.addEventListener('click', (e) => {
    e.preventDefault()    
    // console.log(Number(e.target.dataset.id))
    let petId = (Number(e.target.dataset.id))
    console.log(petId)
    let url = `http://localhost:8080/api/pets/${petId}`
    console.log(url)
    axios.get(url).then( resp => {
        console.log(resp.data)
        editFormSpecies.value = resp.data[0].species
        editFormDob.value = resp.data[0].dob.slice(0,10)
        editFormName.value = resp.data[0].name
        editFormImageUrl.value = resp.data[0].image_url
        editFormPetId.value = resp.data[0].id
    })
 })


 













 


    
</script>


</body>
</html>
