<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Dashboard</title>


</head>

<body>

<main class="main">

    <header class="status-header">
        <h2 class="status-element">Logged in as <%= user.username %> //</h2>
        <input class="hidden-id" type="hidden" value="<%= user.id%>">
        <a href="/logout" class="status-element">Log out</a>
        <img class="status-element" height="50px"src="https://i.pinimg.com/originals/37/a8/d8/37a8d8ddeb69604f4a042ddfa345a577.png">
    </header>

    <div class="layout_3_7"> <!-- Overall container -->

        <aside class="sublayout"> <!-- Left sidebar-->
            

            <h2>Appointments</h2>
            <div class="all-appointments sublayout-vertical">
                <ul class="all-apptList">

                    <% appts.forEach(appt => {%>
                        <li>
                            <h3><%= appt.appt_date.toDateString() %></h3>
                            <p class="appt-subtext"><%= appt.appt_type %></p>
                            <p class="appt-subtext"><%= appt.comments %></p>
                            <br>
                        </li>
                    <% }) %>
                </ul>
            </div>

            <h2>Medications</h2>
            <div class="all-medications sublayout-vertical">
                <ul class="all-medsList">

                    <% meds.forEach(med => {%>
                    <li>
                        <p class="appt-subtext"><%= med.comments %></p>
                    </li>
                <% }) %>

                </ul>
            </div>
        </aside> <!-- Left sidebar-->

        <div class="sublayout"> <!-- Main panel-->
            
            <div class="petsList">
                <h2>Check out your pets &emsp;<button class="btnAddNewPet add-button">+</button><span class="status-element"> Add a pet?</span></h2>
                
                <div class="petMugShots sublayout-horizontal">

                    <% pets.forEach( pet => { %>
                    <div class="sublayout-centered card">
                        <img class="petImg card-portrait" src="<%= pet.image_url %>" alt="<%= pet.name %>" data-id="<%= pet.id %>"> 
                        <h3 class="petNameLabel card-label"><%= pet.name %></h3>
                        <button class="btnShowEdit card-button" data-id="<%= pet.id %>">Details</button> 
                        <button class="btnShowNewAppt card-button" data-id="<%= pet.id %>">Appointments</button>
                        <button class="btnShowNewMed card-button" data-id="<%= pet.id %>">New Medication</button> 
                    </div>
                    <% }) %> 
                
                
                </div>

            </div>

            

            <div class="newPet">

                <form class="newPetForm" action ="">
                    
                    <h2>New Pet</h2>
                    <input type="hidden" class="pet-new-userId pet-input">
                    
                    <label class="pet-subtext">Species</label>
                    <input type="text" class="pet-new-species pet-input">

                    <label class="pet-subtext">Date of birth</label>
                    <input type="date" class="pet-new-dob pet-input">

                    <label class="pet-subtext">Name</label>
                    <input type="text" class="pet-new-name pet-input">

                    <label class="pet-subtext">Link to picture</label>
                    <input type="text" class="pet-new-image_url pet-input">

                    <button class="btnNewPet pet-button">Add it to your list</button>
                    <a class="pet-button button-cancel" href="/">Cancel</a>
                </form>
            </div>



            <div class="editPet">
                <form class="editPetForm" action ="">
                <h2>Pet's Information</h2>
                    
                    <input class="userId" type="hidden" value="">
                    <input class="petId" type="hidden" value="">

                    <label class="pet-subtext">Species</label>
                    <input type="text" class="pet-edit-species pet-input">

                    <label class="pet-subtext">Date of birth</label>
                    <input type="date" class="pet-edit-dob pet-input">

                    <label class="pet-subtext">Name</label>
                    <input type="text" class="pet-edit-name pet-input">

                    <label class="pet-subtext">Link to picture</label>
                    <input type="text" class="pet-edit-image_url pet-input">

                    <button class="btnEditPet pet-button">Update details</button>
                    <a class="pet-button button-cancel" href="/">Cancel</a>
                </form>
            </div>



            <div class="newAppointmet">
                <form action ="" class="newApptForm">
                <h2>New Appointment</h2>
                
                    <input type="hidden" class="petID">
                    <input type="hidden" class="apptUserId" value="<%= user.id %>">

                    <label class="pet-subtext">Appointment type</label>
                    <input type="text" class="appType pet-input">

                    <label class="pet-subtext">Date</label>
                    <input type="date" class="apptDate pet-input">

                    <label class="pet-subtext">Location</label>
                    <input type="text" class="location pet-input">

                    <label class="pet-subtext">Extra details</label>
                    <input type="text" class="comments pet-input">

                    <button class="btnNewAppt pet-button">Add an appointment</button>
                    <a class="pet-button button-cancel" href="/">Cancel</a>
                </form>
            </div>

            <div class="newMedication">
                <form action ="" class="newMedForm">
                <h2>New Medication</h2>
                
                    <input type="hidden" class="petIdMed">
                    <input type="hidden" class="medUserId" value="<%= user.id %>">

                    <label class="pet-subtext">Comments</label>
                    <input type="text" class="comments-meds pet-input">

                    <button class="btnNewMed pet-button">Add new medication</button>
                    <a class="pet-button button-cancel" href="/">Cancel</a>
                </form>
            </div>

            <div class="layout_1_1"> <!-- Appt & meds dropdown cards -->
                <div class="sublayout-vertical">
                    <div class="pet-appointments">
                        <!-- yield content -->
                    </div>
                </div>

                <div class="sublayout-vertical">
                    <div class="pet-meds">
                        <h3 class="pet-selected pet-med-title">Pet Medications</h3> 
                        <ul class="pet-med-list">
                            <!-- yield content -->
                        </ul>
                    </div>
                </div>
            </div> <!-- Appt & meds dropdown cards -->

        </div> <!-- Main panel-->
    </div> <!-- Overall container -->

</main>

<script src="/client2.js"></script>
<script src="/client3.js"></script>
</body>
</html>